body {
  font-family:'New Tegomin', serif;
  margin: 0px;
  padding 0px;
}


p {
  font-size: 30px;
  font-family:'Dancing Script',cursiva;
}
li {
  list-style: none;
  margin-right: 25px;
}
.menu {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: white;
}
.lista {
  display: flex;
}
a {
  text-decoration: none;
  font-size: 14px;
  background: #F469FF;
  color: white;
  padding: 20px 30px 20px 30px;

}
.titular {
  text-align: center;
  margin-top: 200px;
}
h1 {
  font-size: 60px;
  margin: 0px;

}
h2 {
  font-size: 25px;
  margin-bottom: 40px;
}

header {
  background: url(fondo3.JPG);
  height: 100vh;
  background-size: cover;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}
